section {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  max-width: 38rem;
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 38rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgb(94, 86, 86);
  text-transform: uppercase;
  height: 2.5rem;
  letter-spacing: 2px;
}

.header > div:nth-child(2) {
  margin-left: 13rem;
}
i {
  padding: 5px;
}

.main > div:nth-child(1) {
  background-color: rgb(24, 23, 23);
  width: 11rem;
  height: 15rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.right {
  width: 20rem;
  height: 18rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right > div:nth-child(1) {
  background-color: rgb(24, 23, 23);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding: 8px;
  color: beige;
  width: 15rem;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
}
.right > div:nth-child(2) {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  background-color: gray;
  margin-left: 1rem;
}
.right > div:nth-child(3) {
  background-color: rgb(24, 23, 23);
  width: 16rem;
  height: 6rem;
  margin-top: 20px;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
}

.middle > div {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  background-color: rgb(24, 23, 23);
  width: 4rem;
  height: 5rem;
  justify-content: space-between;
}

@media (max-width: 500px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 350px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 350px;
  }
  .header > div:nth-child(2) {
    margin-left: 8rem;
  }
  .main > div:nth-child(1) {
    margin-top: 2rem;
    margin-left: 5rem;
  }
}
